:root {
    --background-color: #272727;
    --background-color2: #f7f2f2;
    --background-color3: #dfdbdb;
    --text-color: #d1cfcf;
    --color-accent1: #FF652F;
    --color-accent2: #FFE400;
    --color-accent3: #14A76C;
}

body {
    font-family: 'Merriweather', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
}

/* Navbar */
nav {
    background-color: var(--background-color2);
    color: var(--background-color);
}

.right-nav {
    font-family: 'Open Sans';
}

.title {
    font-family: 'Eingrantch Mono', sans-serif;
    font-weight: 900;
    font-size: 2em;
}

/* Content */
.card-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.card {
    background-color: var(--background-color2);
    color: var(--background-color);
}

.card.index:hover {
    background-color: var(--background-color3);
    color: var(--background-color);
}

.text-justify {
    text-align: justify;
}

.text-truncate-container p {
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: hidden;
}

/* Buttons */
.btn-light {
    background-color: var(--background-color2);
}

.btn-light:hover {
    background-color: var(--color-accent2);
    border-color: var(--color-accent2);
    color: var(--background-color);
}

.btn-warning {
    background-color: var(--color-accent2);
    border-color: var(--color-accent2);

}

.btn-outline-dark {
    background-color: var(--background-color2);
}

.modal-content {
    color: var(--background-color);
}

/* Icons */
.fa-cat {
    color: var(--background-color);
}

.fa-home {
    color: var(--background-color);
}

.fa-home:hover {
    color: var(--color-accent2);
}

.fa-trash-alt {
    color: var(--background-color);
}

.fa-trash-alt:hover {
    color: var(--color-accent1);
}

.fa-edit {
    color: var(--background-color);
}

.fa-edit:hover {
    color: var(--color-accent3);
}

.fa-comment {
    color: var(--background-color);
}

.fa-comment:hover {
    color: var(--color-accent3);
}

.fa-file {
    color: var(--background-color);
}

.fa-file:hover {
    color: var(--color-accent3);
}